# Игнорирование директории проекта IDE
.idea/

# Игнорирование виртуальных окружений
.poetry/
venv/

# Игнорирование кэшированных файлов Python
__pycache__/
*.pyc

# Игнорирование базы данных SQLite
*.sqlite
*.sqlite3

# Игнорирование других временных файлов
*.log
*.db

# Игнорирование файлов конфигурации среды
.env