{% extends 'mailing/base.html' %}

{% block title%}Информация о Рассылке{% endblock %}

{% block content %}
<div class="row rounded mt-3">
    <h4 class=" container link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover ">Сообщение: {{ campaign.message }}</h4>
    <div class="col-12 text-start">
    </div>
    <div class="col-12 text-start">
        <p class="text-bg-light p-3">Получатели: {{ subscribers }}</p>
    </div>
    <div class="text-start">
        <div class=" col-3">
            <a href="#" class="btn btn-secondary mt-3 text-end">Запуститить рассылку</a>
        </div>
    </div>
</div>
<div class="text-end">
    <a href="{% url 'mailing:campaign_edit' campaign.pk %}" class="btn btn-secondary">Редактировать</a>
        <a href="{% url 'mailing:campaign_delete' campaign.pk %}" class="btn btn-danger">Удалить</a>
        <a href="{% url 'mailing:campaign_list' %}" class="btn btn-primary">Вернуться к списку</a>
</div>
<div class=" mt-5">
        <span class="border border-white"></span>
</div>
{% endblock %}