{% extends 'mailing/base.html' %}

{% block title%}Главная{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
        <a href="{% url 'mailing:campaign_create' %}" class="mt-4 rounded text-center w-100 btn btn-outline-success border border-secondary-subtle">Создать новую рассылку</a>
        </div>
    </div>
    {% if campaignes %}
        <div class="row  text-center">
            <div class="col-12 mt-1">
                 <h4 class="mb-4 text-center mt-5">Список всех рассылок</h4>
            </div>
            {% for campaign in campaignes %}
                <div class="col-12">
                    <h4 class="mt-4 text-start"></h4>
                    <p class="text-start">
                        <button class="rounded text-start w-50 btn btn-outline-light border border-secondary-subtle">
                            <a  class="link-body-emphasis link-offset-2 link-underline link-underline-opacity-0" href="{% url 'mailing:campaign_detail' campaign.pk %}">
                                <h6 class=" mt-2 text-success-emphasis">Тема письма:</h6>{{ campaign.message }} <h6 class=" mt-2 text-success-emphasis">Получатель:</h6>
                                {% for subscriber in subscribers %}
                                    {{ subscriber.full_name }} |
                                {% endfor %}
                                <h6 class=" mt-2 text-success-emphasis">{{ campaign.status }}</h6> </a></button> </p>
                        </div>
                <div class="col-2">
                </div>
            {% endfor %}
            <h4 class="mb-4 text-center mt-5">Список активных рассылок</h4>
            {% for campaign in campaignes %}

            {% if campaign.status == 'Запущена' %}
                        <h4 class="mt-4"></h4>
                            <p>{{ campaign.message }}</p>
                            {% for subscriber in subscribers %}
                                <p>{{ subscriber.full_name }}</p>
                            {% endfor %}
                            <p>{{ campaign.status }}</p>
                        <button class="rounded text-center w-100 btn btn-outline-light border border-secondary-subtle"><a  class="link-body-emphasis link-offset-2 link-underline link-underline-opacity-0" href="{% url 'mailing:campaign_detail' сampaign.pk %}">Перейти</a></button>
            {% else %}
                <div class="container col-12 mt-5"></div>
            {% endif %}
                </div>
                <div class="col-2">
                </div>
            {% endfor %}
    {% else %}
        <p>Нет доступных рассылок.</p>
    {% endif %}

    <div class="row">
        <div class="col-12">
            <h4 class="mb-4 text-center">Список Получателей</h4>
        <a href="{% url 'mailing:subscriber_create' %}" class="rounded text-center w-100 btn btn-outline-success border border-secondary-subtle">Создать нового полуателя</a>
        </div>
    </div>
    {% if subscribers %}
        <div class="row mt-5 text-center">
            {% for subscriber in subscribers %}
                <div class="col-3">
                </div>
                <div class="col-6 mt-3  text-center">
                    <h4 class="mt-4 text-center">{{ subscriber.email }}</h4>
                        <p>{{ subscriber.full_name}}</p>
                        <p>{{ subscriber.comment }}</p>
                    <button class="rounded text-center w-100 btn btn-outline-light border border-secondary-subtle"><a  class="link-body-emphasis link-offset-2 link-underline link-underline-opacity-0" href="{% url 'mailing:subscriber_detail' subscriber.pk %}">Перейти</a></button>
                </div>
                <div class="col-3">
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Нет доступных получателей.</p>
    {% endif %}

{% endblock %}