{% extends 'mailing/base.html' %}

{% block title%}Информация о сообщение{% endblock %}

{% block content %}
<div class="row rounded mt-3">
    <h4 class=" container link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover ">Тема письма: {{ message.subject }}</h4>
    <div class="col-12 text-start">
    </div>
    <div class="col-12 text-start">
        <p class="text-bg-light p-3">{{ message.body }}</p>
    </div>
    <div class="text-end">

    </div>
</div>
<div class="text-end">
    <a href="{% url 'mailing:message_edit' message.pk %}" class="btn btn-secondary">Редактировать</a>
        <a href="{% url 'mailing:message_delete' message.pk %}" class="btn btn-danger">Удалить</a>
        <a href="{% url 'mailing:message_list' %}" class="btn btn-primary">Вернуться к списку</a>
</div>
<div class=" mt-5">
        <span class="border border-white"></span>
</div>
<div>
    <div class="col-3">
                    <h4>Список получателей:</h4>
                </div>
    {% for subscriber in subscribers %}
                <div class="col-6 mt-3  text-center">
                    <button class="rounded text-center w-100 btn btn-outline-light border border-secondary-subtle"><a  class="link-body-emphasis link-offset-2 link-underline link-underline-opacity-0" href="{% url 'mailing:subscriber_detail' subscriber.pk %}">{{ subscriber.email }}</a></button>
                </div>
    {% endfor %}
</div>
{% endblock %}